## Build
bin/
obj/
publish/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rtifacts/

## IDE / user
.vs/
*.user
*.userosscache
*.suo
*.sln.docstates
*.DotSettings.user
.idea/
*.swp
*~

## NuGet
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json

## OS
Thumbs.db
Desktop.ini
.DS_Store

## Logs / local
*.log
